

.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;
}

.chart-title {
    -fx-text-fill: #000000;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #1c1c24;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 25;
}

.chart-legend-item{
    -fx-text-fill: #1b1b1d;
}

/*.default-color0.chart-series-line { -fx-stroke: #ff3b00; -fx-fill: #f1712b; }*/
/*.default-color1.chart-series-line { -fx-stroke: #063f7d; -fx-}*/

/*.default-color0.chart-line-symbol { -fx-background-color: #fc4100, white; }*/
/*.default-color1.chart-line-symbol { -fx-background-color: #004797, white; }*/


#lineChart .default-color0.chart-line-symbol { -fx-background-color: #e9967a, #ffa07a; }
#lineChart .default-color1.chart-line-symbol { -fx-background-color: #f0e68c, #fffacd; }
#lineChart .default-color2.chart-line-symbol { -fx-background-color: #dda0dd, #d8bfd8; }

#lineChart .default-color0.chart-series-line { -fx-stroke: #e9967a; -fx-fill: #ffa07aaa; }
#lineChart .default-color1.chart-series-line { -fx-stroke: #f0e68c; -fx-fill: #fffacd77; }
#lineChart .default-color2.chart-series-line { -fx-stroke: #dda0dd; -fx-fill: #d8bfd833;}

